.typing {
  position: relative;
}

.typing::before {
  content: 'Web Developer';
  animation: words 12s infinite;
}

.typing::after {
  content: '';
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  background-color: #131424;
  border-left: 2px solid #f13024;
  right: -8px;
  animation: cursor 0.8s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
  to {
    border-left: 2px solid #f1302400;
  }
}

@keyframes words {
  0%,
  33% {
    content: 'Web Developer';
  }
  34%,
  67% {
    content: 'Data Analyst';
  }
  68%,
  100% {
    content: 'Freelancer';
  }
}

@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 8px);
  }
}
